<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="docs.css" />
    <link rel="stylesheet" href="/main.css" />
    <script src="script.js" defer></script>
    <title>StarkUI | Get Started</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <i class="bx bx-menu bx-md nav-icon" style="color: #33272a; cursor: pointer"></i>
        <img src="/images/logo.svg" alt="logo" />
      </nav>
      <main class="main">
        <h1>Get started with the library</h1>
        <p>Simple instructions on how to work with Stark UI</p>
        <br />
        <hr />
        <br />
        <h3>Integrate it in your HTML file :</h3>
        <p>Just copy the below code to your HTML file and start styling your pages!</p>
        <div class="iframe-container">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2895%2C104%2C118%2C1%29&t=one-dark&wt=sharp&l=css&ds=false&dsyoff=9px&dsblur=19px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=dm&fs=15.5px&lh=176%25&si=false&es=1x&wm=false&code=%253Clink%2520rel%253D%2522stylesheet%2522%2520href%253D%2522https%253A%252F%252Fstarkui.netlify.app%252Fmain.css%2522%2520%252F%253E"
            style="width: 627px; height: 101px; border: 0; transform: scale(1); overflow: hidden"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <h3>Or you can simply download the CSS file from the link below, and start editing :</h3>
        <a class="btn btn-primary" href="#" download>Soon to be updated</a>
      </main>
    </div>
    <aside class="sidebar" tabindex="-1">
      <div class="logo">
        <img src="/images/logo.svg" />
        <h2>StarkUI</h2>
      </div>
      <a href="docs.html" class="active">Getting Started</a>
      <hr style="width: 15rem" />
      <a href="alert.html">Alert</a>
      <a href="avatar.html">Avatar</a>
      <a href="badge.html">Badge</a>
      <a href="button.html">Button</a>
      <a href="card.html">Card</a>
      <a href="image.html">Image</a>
      <a href="input.html">Input</a>
      <a href="lists.html">List</a>
      <a href="modal.html">Modal</a>
      <a href="nav.html">Navigation</a>
      <a href="toast.html">Toast</a>
      <a href="typography.html">Typography</a>
    </aside>
  </body>
</html>
