<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon" />
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="docs.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/prism.css" />
    <script src="script.js" defer></script>
    <script src="/prism.js" defer></script>
    <title>StarkUI | Get Started</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <i class="bx bx-menu bx-md nav-icon" style="color: #33272a; cursor: pointer"></i>
        <img src="/images/logo.svg" alt="logo" />
      </nav>
      <main class="main">
        <h1>Get started with the library</h1>
        <p>Simple instructions on how to work with Stark UI</p>
        <br />
        <hr />
        <br />
        <h3>Integrate it in your HTML file :</h3>
        <p>Just copy the below code to your HTML file and start styling your pages!</p>

        <pre>
          <code class="language-html">
            <&zwj;link rel="stylesheet" href="https://starkui.netlify.app/main.css"&zwj;/>
          </code>
        </pre>

        <h3>Or you can simply download the CSS file from the link below, and start editing :</h3>
        <a class="btn btn-primary" href="#" download>Download <i class="bx bxs-download"></i></a>
      </main>
    </div>
    <aside class="sidebar" tabindex="-1">
      <div class="logo">
        <img src="/images/logo.svg" />
        <h2>StarkUI</h2>
      </div>
      <a href="/index.html">Home</a>
      <a href="docs.html" class="active">Getting Started</a>
      <hr style="width: 15rem" />
      <a href="alert.html">Alert</a>
      <a href="avatar.html">Avatar</a>
      <a href="badge.html">Badge</a>
      <a href="button.html">Button</a>
      <a href="card.html">Card</a>
      <a href="image.html">Image</a>
      <a href="input.html">Input</a>
      <a href="lists.html">List</a>
      <a href="modal.html">Modal</a>
      <a href="nav.html">Navigation</a>
      <a href="toast.html">Toast</a>
      <a href="typography.html">Typography</a>
    </aside>
  </body>
</html>
